.navigation-bar {
	background: var(--primary);
	display: flex;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;

	.logo {
		margin: 5px;

		a {
			color: white;
			text-decoration: none;
			display: flex;
			align-items: center;
         font-family: grinddemolished;
         font-size: 24px;
		}

		a.active {
			color: var(--secondary);
		}

		a.active {
			color: var(--secondary);
		}

		img {
			width: 50px;
			margin: 0 10px;
		}
	}

	@media screen and (max-width: 500px) {
		.logo {
			margin: 5px 0;
			span {
				display: none;
			}
		}
	}

	@media screen and (max-width: 500px) {
		.logo {
			margin: 5px 0;
			span {
				display: none;
			}
		}
	}

	.links {
		margin: 0 auto;
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			display: flex;

			a {
				display: inline-block;
				padding: 5px;
				text-decoration: none;
				color: white;
            font-family: grinddemolished;
			}

			a.active {
				color: var(--secondary);
			}
		}
	}

	.menu {
		position: relative;
		img {
			width: 40px;
			height: 40px;
			margin-right: 10px;
			border-radius: 50%;
         cursor: pointer;
		}
	}

	.sub-menu {
		position: absolute;
		background-color: white;
		color: black;
		padding: 10px;
      right: 10px;
      border-radius: 10px;
      width: 180px;
      box-shadow: 1px 1px 5px black;
	}
}
